section.section.about#about
  h2.title
    span.title__text.anim-item.anim-no-hide About Me
  div.cnt.about__cnt
    ul.about__list.anim-item.anim-no-hide
      li.about__item
        h3.about__subtitle HTML,Pug
      li.about__item
        h3.about__subtitle CSS,Scss
      li.about__item
        h3.about__subtitle Figma
      li.about__item
        h3.about__subtitle JQuery
      li.about__item
        h3.about__subtitle JS
      li.about__item
        h3.about__subtitle Photoshop
      li.about__item
        h3.about__subtitle UX/UI
      li.about__item
        h3.about__subtitle PHP
      li.about__item
        h3.about__subtitle MySql
    div.about__info.anim-item.anim-no-hide
      img.about__info-foto.lazy(data-src="@img/myphoto.jpg", alt="foto")
      p.about__info-text.anim-item.anim-no-hide I'm Nazar Shypot, Freelance Web-developer. I'm a weird guy who likes making weird things&nbsp;with web technologies. I like to resolve design problems, create smart user interface and imagine useful interaction, developing rich web experiences.
    ul.about__benefits.anim-item.anim-no-hide
      li.about__benefits-item
        .about__benefits-svgbox
          svg.about__benefits-svg(width="60px" height="60px" aria-hidden="true")
            use(xlink:href="@img/sprite.svg#adaptive")
        h4.subtitle Responsive
        p.description.about__benefits-text My layouts will work on any device, big or small.
      li.about__benefits-item
        .about__benefits-svgbox
          svg.about__benefits-svg(width="60px" height="60px" aria-hidden="true")
            use(xlink:href="@img/sprite.svg#speed")
        h4.subtitle Fast
        p.description.about__benefits-text Fast load times and lag free interaction, my highest priority.
      li.about__benefits-item
        .about__benefits-svgbox
          svg.about__benefits-svg(width="60px" height="60px" aria-hidden="true")
            use(xlink:href="@img/sprite.svg#creative")
        h4.subtitle Creative
        p.description.about__benefits-text Strong preference for easy to use, intuitive UX/UI.
      li.about__benefits-item
        .about__benefits-svgbox
          svg.about__benefits-svg(width="50px" height="50px" aria-hidden="true")
            use(xlink:href="@img/sprite.svg#rocket")
        h4.subtitle Dynamic
        p.description.about__benefits-text Websites don't have to be static, I love making pages come to life.
