footer.footer
  .footer__container
    .footer__info
      h4.footer__info-title Thanks for visiting my Web-site ;)
      p.description.footer__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nisi magni quis dolorum error omnis qui quaerat iusto quam odio dolorem quae repell
    ul.social
      li.social__item(title="соцсети")
        a.social__link(href="https://www.instagram.com/_veter_n/" target="_blank" aria-label="my instagram")
          svg.social__ico.social__insta(aria-hidden="true")
            use(xlink:href="@img/sprite.svg#insta")
      li.social__item
        a.social__link(href="https://www.codewars.com/users/veter391" target="_blank" aria-label="my codewars")
          svg.social__ico.social__codewars(aria-hidden="true")
            use(xlink:href="@img/sprite.svg#codewars")
      li.social__item
        a.social__link(href="https://github.com/veter391" target="_blank" aria-label="my github")
          svg.social__ico.social__github(aria-hidden="true")
            use(xlink:href="@img/sprite.svg#github")
      li.social__item
        a.social__link(href="https://codepen.io/veter391" target="_blank" aria-label="my codepen")
          svg.social__ico.social__codepen(aria-hidden="true")
            use(xlink:href="@img/sprite.svg#codepen")
  p.footer__end Nazar Shypot © 2022
