header.header.container#home
  //- canvas#figure You browser is not supported canvas.
  div.set
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
  div.set.set2
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
  div.set.set3
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
    span.set__child.circle
    span.set__child.square
    span.set__child.triangle
      span.triangle__child
      span.triangle__child
      span.triangle__child
  div.header__content.cnt
    .header__title-box.anim-item.anim-no-hide
      h1.header__title Hello, this is a test page
    p.header__description.anim-item.anim-no-hide I am a Web Developer
    .header__btn-container
      button.header__btn.anim-item.anim-no-hide(data-href="#about")
        span.header__btn-text View my work
        svg.header__btn-arrow(width="15px" height="18px" aria-hidden="true")
          use(xlink:href="@img/sprite.svg#arrowRight")
      button.header__btn.anim-item.anim-no-hide(data-href="#contact")
        span.header__btn-text Contact me
        svg.header__btn-arrow(width="15px" height="18px" aria-hidden="true")
          use(xlink:href="@img/sprite.svg#arrowRight")
    svg.header__arrows(width="20px" height="60px" aria-hidden="true")
      use(xlink:href="@img/sprite.svg#arrowsBottom")
