nav.nav
  ul.nav__list.cnt
    li.nav__item
      a.nav__link.active(href="#home") Home
    li.nav__item
      a.nav__link(href="#about") About
    li.nav__item
      a.nav__link(href="#portfolio") Portfolio
    li.nav__item
      a.nav__link(href="#contact") Contact
  div.nav__coloring
